div {
	color: #000000;
	background: #2db34a;
	line-height: 200px;
	text-align: center;
	border: solid;
	border: 50%;
	transition-property: color,
	width,background;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 1s;
}
div:hover {
	color: #ffffff;
	width: 50%;
	border: solid;
	background: #2D3183;
	border: 50px;
}
div:active{
	border-radius: 450px;
}